html, body {
	height: 100%;
}

body {
  margin: 0;
  background-color: #000;
  font-family: droid sans mono, monospace;
  color: #b82;
  overflow: hidden;
}

p {
  padding-left: 1em;
  padding-rightt: 1em;
}

.btn {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  background: #b82;
  padding: 1em 2em 1em 2em;
  border: 0;
  text-decoration: none;
  margin-top: 1em
}

.btn:hover {
  background: #c93;
  text-decoration: none;
}

.radios {
  width:1em;
  height:1em
}

.centered {
  display:block;
  text-align: center;
}

.center-bar {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}


header {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  background: #aaa;
}

header textarea {
  font-weight: bold;
  width: 100%;
  height: 100%;
  margin: 0px;
  border: none;
  background: #aaa;
}

header.backlog {
  height: 250px;
}

footer {
  position: absolute;
  width: 100%;
  font-height: 25px;
  bottom: 0;
  background-color: #ccc;
  margin: 0px;
  padding: 5px;
}

footer li {
  display: inline-block;
  padding-right: 50px;
}

.content {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 50px;
  background: black;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center {
  margin: auto;
  width: 100%;
}

#map div {
  background-color: black;
}

#map div {
  display: inline-block;
  position: relative;
}

#map .focus {
  position: absolute;
  width: 32px;
  height: 1px;
  background-color: white;
  bottom: 0px;
  top: 31px;
}

#commands input {
  margin: 1px;
  font: menu;
}

#commands {
  margin-left: 115px;
  font-weight: bold;
}
